[2016-11-27 23:10] joeysapp opened #5 "Exception in thread zeroconf-Engine"
Hey, so I'd love to use this - I'm getting this error after configuring everything and running in terminal. I've tried most solutions I can think of and I'm stuck. I'm running macOS 10.11.4 on an early 2015 MBP retina. After getting the error, it seems to continue running but whatever is playing on my Spotify doesn't play on my chromecast or scrobble. Thanks for this project!!

[code]

After some

[2016-11-28 05:29] erik commented on #5
Thanks for digging into the issue, I've run into it as well and it's definitely annoying, but at least lastcast continues running. If I'm reading the threads right, looks like we're waiting on python-zeroconf and pychromecast to merge some PRs to fix? I can update to a new library version when that happens.

Yep, you need to initiate the casting from iOS/Android, but you should be able to use your

[2016-11-28 05:35] joeysapp commented on #5
Yeah - I just went in and edited my zeroconf.py to the content in #88 and it all works. Just two lines, so I assume once they merge it should be fine.

Sounds good, all works and I've got your bash script running. Thanks!

[2016-11-28 05:49] erik commented on #5
Awesome, glad to hear it!

I'll set myself a reminder to check back on those PRs and update when they get merged.

[2016-11-28 05:49] #5 closed

[2016-12-04 18:35] ravishchawla opened #6 "Duration field is None type when polled between songs"
I saw this a few times. The duration field in the MediaStatus object is of Nonetype when the chromecast is polled between songs. It crashes on line 85

`        if status.current_time > SCROBBLE_THRESHOLD_SECS or \
           (status.current_time / status.duration) >= SCROBBLE_THRESHOLD_PCT:
            self._scrobble(meta)`

It just requires a check before this statement for data types of all fie

[2016-12-04 18:42] erik commented on #6
Nice catch, I'll add a quick fix later today

[2016-12-04 20:38] erik commented on #6
@ravishchawla could you give the change in #7 a shot to see if it fixes the issue for you?

[2016-12-04 22:01] ravishchawla commented on #6
Yes, it's scrobbling with no problems now. Thanks for the quick fix!

[2016-12-05 01:14] erik commented on #6
Awesome, thanks for reporting the issue

[2016-12-05 01:14] #6 closed

[2017-01-23 09:29] korthout opened #8 "Run lastcast in background"
As described in the README, lastcast is not very resilient yet. Running it as a background process would likely be a first step towards more stable scrobbling.

[2017-01-23 09:33] korthout opened #9 "Add Homebrew package formula"
Many macOS users like to use Homebrew as there main package manager and so do I. I'd love to see a Homebrew package formula for this.

See [https://github.com/Homebrew/homebrew-core](https://github.com/Homebrew/homebrew-core)

[2017-01-23 18:17] erik commented on #8
This is a good idea and something I had been putting off for a while. I'll work on this one in the next few days 👍

[2017-01-23 18:18] erik commented on #9
Definitely a nice to have. I'll look into this around the time of the next pip release

[2017-01-24 08:37] korthout commented on #9
Oops, that (close and reopen) was not supposed to happen. I'm happy you like the idea. I don't think I have time to take this on anytime soon (I'm graduating soon), although I'm very much interested in helping out. Perhaps after my graduation.

[2017-02-02 12:18] korthout commented on #8
Great! You already worked on it a week ago. I had not expected that. Anyways, today I tried out the new version and it seems to work partially. Sleeping my mac for a minute worked fine. It simply logged a message and continued:

[code]

I can imagine it works in more situations. However, turning off my WiFi induced a crash.

[code]
Anyhow, thanks for the improvement.

[2017-02-02 15:50] erik commented on #8
Ah nice, seems like you interrupted the connection exactly when it was trying to talk to last.fm. Didn't handle that condition, I'll add another exception handler.

Thanks again Nico!

[2017-02-11 05:58] tschembri opened #12 "turning chromecast off after lastcast has connected causes program to hang"
hi,

this issue crops up when lastcast successfully connects to the chromecast, but the chromecast is then subsequently turned off.

lastcast prints out the following error message:

[Errno 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond

If the Chromecast i

[2017-02-11 18:55] erik commented on #12
Thanks for reporting!

I'm not able to reproduce this condition on my setup. Using a chromecast 2, I tried rebooting the chromecast and simply pulling the USB power plug while lastcast was connected, but it still manages to reconnect after the chromecast comes back online.

Could you give me some more details about how you see this error?

(Stuff like OS, which cast device, connected app, etc woul

[2017-02-13 00:55] tschembri commented on #12
wow, thanks for the quick reply! :)

I'm also using a chromecast 2, and running Windows 7. The chromecast is connected to the TV.

When I found this bug, there was no program connected to the chromecast, just the screensaver screen (the one that comes up when there is no activity for a few minutes).

This is the window with the error that occurs when the chromecast is disconnected in screensaver m

[2017-02-13 07:33] erik commented on #12
Awesome! Thank you for filling in those details, this really helps. I'll try to figure out a solution in the next few days or so.

[2017-02-14 05:52] erik commented on #12
Alright, I was able to confirm this behavior on my setup. Looks like it's a bug in the pychromecast library I'm using, since I see some similar issues upstream (https://github.com/balloob/pychromecast/issues/107).

I'll try a workaround fix until a better solution is available

[2017-02-14 06:34] erik commented on #12
@tschembri, could you help me confirm that the changes I made in #13 work for you? They fix the issue for me.

`pip install git+https://github.com/erik/lastcast.git@cc895e7`

Thanks again!

[2017-02-15 07:48] tschembri commented on #12
hey I got a bunch of error messages trying to install that, sorry. SNIMissingWarning and InsecurePlatformWarning.

[2017-02-15 18:21] erik commented on #12
Seems like this is related to out of date versions for pip requirements: http://stackoverflow.com/a/29099439

I can see the same issues if I try to install with the super out of date python2.6, but it does end up installing anyway

[2017-02-18 20:11] #12 closed

[2017-02-18 21:10] erik commented on #8
I merged a couple different things that should increase the stability of lastcast going forward. I'm sure there's more that can be done but I'm going to close this ticket for now. Thanks again for reporting issues @korthout!

[2017-02-18 21:10] #8 closed

[2017-02-21 21:25] korthout opened #14 "TypeError: '<=' not supported between instances of 'NoneType' and 'int'"
I encountered the following problem a couple times, during which lastcast crashed. However, I can no longer reproduce it and the symptom has solved itself. It seems related to issue #6.

[code]

[2017-02-21 22:18] erik commented on #14
Ah, this is because I was only testing against python2.7.

[code]

Thanks again for reporting! I'll post a fix a bit later.

If you want to just get it working for the time being, run lastcast with Python 2.7

[2017-02-22 05:58] #14 closed

[2017-02-22 08:23] korthout commented on #14
Great! Again very quickly solved and the solution looks elegantly simple. My compliments.

[2017-03-01 19:32] MisterObvious25 opened #16 "Lastcast stops working"
While scrobbling(spotify on chromecast) perfectly sometimes i get this error

Traceback (most recent call last):
  File "/usr/local/bin/lastcast", line 9, in <module>
    load_entry_point('lastcast==0.1.5', 'console_scripts', 'lastcast')()
  File "/usr/local/lib/python2.7/dist-packages/click/core.py", line 716, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist

[2017-03-01 19:59] erik commented on #16
Thanks for taking the time to report!

I actually recently hit this issue myself, and the solution for me just involved setting the environment variable `PYTHONIOENCODING` correctly.

See if running lastcast like so fixes the issue for you. You should be able to check by listening to that same song again.

[code]

[2017-03-01 20:04] MisterObvious25 commented on #16
Yes thank you very much, this solves it for me.

[2017-03-01 20:04] #16 closed

[2017-03-01 20:05] erik commented on #16
Awesome!

I also created PR #17, which should prevent you from needing to set that environment variable in the future.

Thanks again!

[2017-07-18 04:00] erik opened #20 "Spotify doesn't report current_time accurately"
Noticed this locally. When casting spotify, the current time (as reported by PyChromecast) always is ~30 seconds into the track.

This is not a bug in lastcast (likely it's spotify's chromecast integration), but maybe there's a work around.

[2017-09-27 10:08] mthssdrbrg commented on #20
I noticed this as well, and have some local changes that manually tracks the current "now playing" track and updates the current time after each poll, it's not very pretty but it seems to work. I haven't dug any deeper into what the actual issue is, but I think it's Spotify's chromecast integration as well.

[2017-09-27 17:33] erik commented on #20
I'd actually be really interested in seeing your solution if you don't mind!

[2017-09-28 09:25] mthssdrbrg commented on #20
Alright, I'll get it up on Github later today.

[2017-09-28 20:54] mthssdrbrg commented on #20
So, here we go https://github.com/mthssdrbrg/lastcast/commit/9086cfc61635c15258911899bc41bfc9810d0d07. It doesn't deal with repeats, ~~but that could be fixed by comparing `started_at` (I _think_ at least, haven't thought it through completely)~~, but I just didn't bother :).

[2017-09-28 21:08] erik commented on #20
Awesome! 👍

Thanks for sharing, I like the idea.

I'll try playing with your implementation when I get some time, see if I can figure out some corner cases.

[2017-09-28 21:44] mthssdrbrg commented on #20
Been looking at the code for a bit now and identified a few issues:

* it doesn't handle repeats at all
* it probably doesn't handle seeks (not sure if it's reflected in the status response)

[2017-10-06 19:49] jbmfg opened #23 "Add libre.fm"
Not sure how similar the apis are for libre.fm and last.fm but would love to see both supported

[2017-10-06 20:28] erik commented on #23
Turns out the library I'm using to do the scrobbling (https://github.com/pylast/pylast/) has native support for libre.fm, so this should be pretty easy to add!

I'll look into this when I get some free time.

Thanks for the request!

[2017-10-07 05:36] #23 closed

[2017-10-07 05:38] erik commented on #23
Added support for libre.fm in `lastcast==0.3.0`

Let me know if you run into any issues!

[2017-10-13 15:11] jbmfg opened #25 "Double scobbling"
With the newest version with libre.fm support it is double scrobbling to last.fm.  I am not 100% sure if this occurred before the libre.fm support was added but i dont think it was.  I am also not sure if the double scobble is happening on libre.fm as that site appears to be down right now

[2017-10-13 15:15] jbmfg commented on #25
Here is my config & systemd lastcast.service file.  I had to adjust the service file as compared to how you suggest as yours wouldnt work for me.

jbg@homeserver:~$ cat /home/jbg/.lastcast.toml

[chromecast]
app_whitelist = [ "Google Play Music",]
name = "Kitchen Home"
[librefm]
password = "XXXXXXXXXXXXXX"
user_name = "XXXXXXXXXX"
session_key = "XXXXXXXXXXXXXXXXXX"
[lastfm]
api_key = "XXXXXXXXXXXX

[2017-10-13 16:12] jbmfg commented on #25
Did some testing and I think this is related to libre.fm being down.  I watched the service closely while playing a song and saw that it crashed.  It restarted and that's when i could see a double scrobble on last.fm.  When i removed libre.fm settings from my config file i didnt see the double scrobble occurring since the service didnt crash.  Perhaps just handling scrobbling errors differently ma

[2017-10-13 17:00] erik commented on #25
Makes sense, thanks for the report.

I'll add more error handling around calling lastfm and librefm. Do you have a stack trace from when you saw the crash and double scrobble?

[2017-10-13 17:02] erik commented on #25
Also:

What wasn't working? I can update the docs to be more general, I only tested on ubuntu and debian

[2017-10-13 18:39] jbmfg commented on #25
I dont have a stacktrace, sorry.  I'm also not sure what wasn't working in the systemd service, it just kept crashing on start.  I can go back see if i can figure it out.  Im on Ubuntu 17.04 btw

[2017-10-14 01:26] #25 closed

[2017-10-14 01:27] erik commented on #25
Hi @jbmfg, thanks again for the report.

The fixed version is now available at `lastcast==0.3.1`

`pip install --upgrade lastcast`

Let me know if you run into any issues!

[2017-10-23 23:04] corvar opened #27 "Often Misses Scrobbles"
I have been using lastcast for about a week, and can't say I have done any significant troubleshooting, but it seems like scrobbles are pretty regularly missed.  I see the song get updated on last.fm as "Scrobbling now" but it never actually gets scrobbled.  The next track starts, Scrobbling now gets updated, but the previous track never actually scrobbles.

[2017-10-23 23:09] erik commented on #27
Thank you for reporting!

Are you scrobbling Spotify by any chance? There is a known upstream issue (https://github.com/erik/lastcast/issues/20) that prevents Spotify from working properly. Unfortunately there only seem to be hack fixes around the issue at the moment.

[2017-10-23 23:24] corvar commented on #27
Apologies for the sub-par issue report, after I hit submit I realized I gave no details, versions, etc.

This does seem like it's the possible issue, and I grabbed the possible fix and will give it a try and report back.  I had looked at that issue, but it wasn't obvious from it that it was causing lastcast to miss scrobbles.

[2017-10-23 23:27] erik commented on #27
No problem! I do appreciate the issue, since it does seem like this is affecting a bunch of other people as well. I'm going to try hacking on @mthssdrbrg's patch soon and see if I can get a fix merged in.

[2017-10-24 13:05] corvar commented on #27
With @mthssdrbrg 's patch, I went from getting about 30% success in scrobbling to ~100%.  In that every track I have played since I applied it has scrobbled.

[2017-10-25 01:12] #27 closed

[2017-10-25 01:17] erik commented on #27
Glad it worked for you @corvar!

I pushed a new version of lastcast that should support this behavior out of the box.

`lastcast==0.4.0`

[2017-10-25 01:21] erik commented on #20
Thanks again for the patch @mthssdrbrg! Ended up taking the idea and making a couple modifications to handle pausing and controlling the behavior through the config.

I'll leave this issue open for now since the underlying cause isn't fixed, but the most recent version of lastcast should now have much better scrobble behavior for Spotify

[2017-10-26 08:10] mthssdrbrg commented on #20
@erik no worries, happy that it was to some use!

[2017-11-26 23:37] thecivvie opened #29 "multiple GH units"
Is it possible to add support for more than one GH unit on the same network. I have one upstairs that I listen to at nighttime

[2017-11-26 23:47] erik commented on #29
Hi, thanks for the feature request!

I've actually had a couple people ask about support for this, and the answer has historically been "just run multiple lastcast instances", but I can do better than that.

~I'll start thinking about how to add support for multiple chromecasts, but I'm not sure when I'll have time to implement this.~

[2017-11-27 01:35] erik commented on #29
Implemented this in #30. Going to keep testing this for a few days to make sure there aren't any corner cases I missed before merging.

[2017-11-27 13:34] thecivvie opened #31 "Rebooting router causes lastcast to fail"
If I reboot my router, lastcast  fails with a no route to host. It doesn't crash just seems to hang. A systemd restart fixes it but scrobbles are lost

[2017-11-27 18:14] erik commented on #31
Thanks for reporting!

Would you be able to provide a stacktrace to make this easier to debug?

[2017-11-27 22:18] thecivvie commented on #31
Does this help:

* lastcast.service - Lastcast Server
   Loaded: loaded (/etc/systemd/system/lastcast.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2017-11-27 13:29:28 UTC; 8h ago
 Main PID: 1411 (lastcast)
   CGroup: /system.slice/lastcast.service
           `-1411 /usr/bin/python3 /usr/local/bin/lastcast

Nov 27 22:15:24 pi3 lastcast[1411]: Traceback (most recen

[2017-11-27 22:21] thecivvie commented on #31
Just as a note, it seems to be scrobbling after this reboot. I am not sure what the error was the last time, but the traceback was exactly the same

[2017-11-27 22:25] erik commented on #31
It does help, thank you!

Weird that the stack trace starts in the pychromecast library, might make it harder to catch this in lastcast. I'll try to dig into the library code to see if there's potentially an issue upstream.

Are there any specific steps to reproduce this? Is it basically just pull the ethernet plug while lastcast is running?

Also, the process id doesn't seem to change, so it look

[2017-11-27 22:30] erik commented on #31
Very preliminary digging suggests that pychromecast needs to be modified on this line to also catch exceptions of type `os.error`:

https://github.com/balloob/pychromecast/blob/master/pychromecast/socket_client.py?utf8=%E2%9C%93#L258

Python 3 docs seem to support this theory:

[2017-11-27 22:37] thecivvie commented on #31
Not sure, I came down this morning and played several tracks on the GH before I realised that it wasn't scobbling. Well in fact it was when I noticed my smart plug was not responding either. Sadly being where I am, I am on a mobile broadband, not wired

[2017-11-28 03:39] erik commented on #31
Hmm... could you actually let me know which version of Python you're using?

Issue might not be what I initially suspected.

[2017-11-28 11:10] thecivvie commented on #31
Python 2.7.13

Unless it was the GH it could not connect to.

[2017-11-28 17:03] erik commented on #31
Thanks!

I submitted a patch upstream. When that lands, I'll update the pychromecast version dependency and release a new version of lastcast, hopefully that will fix this issue for you.

If you want to hack around it for now, you could try manually modifying `/usr/local/lib/python3.5/dist-packages/pychromecast/socket_client.py` with this change: https://github.com/erik/pychromecast/commit/0b0e89b

[2017-11-28 17:18] erik commented on #31
Wait... I just realized:

Now I'm confused.

[2017-11-28 20:55] thecivvie commented on #31
To be honest, I am not sure what is going on. it was installed on the Pi automatically

[2017-11-28 21:19] erik commented on #31
Could you try manually applying the patch I linked above?  I'm a little lost as well, but my best guess is that it will fix your issue.

[2017-11-29 08:22] #29 closed

[2017-11-29 08:28] erik commented on #29
Just pushed this feature!

Version `0.5.0` should let you scrobble from multiple devices (at the same time, if you want).

`pip install --upgrade lastcast`

Here's how to update the config:

[code]

[2017-12-05 17:25] sti3 opened #32 "Feature request: Select device on launch?"
I added all my chromecast devices in my initial configuration but one of them, a portable speaker, isn't always on. When it's off, the application fails with "Failed to connect! Exiting" and tries again to launch after a restart.

What would be great is if the application didn't exit if it couldn't find a device OR if you could manually select a CC device with a flag on launch.

[2017-12-07 22:15] erik commented on #32
Thanks for the feature request!

I started implementing retry logic (in #33) so that lastcast can continually try to connect to devices without failing. Need to do some more testing before I merge that in.

I decided to go that route instead of the command line flag because lastcast is intended to be a long running process, and it would be kind of lousy to remember to restart it with the proper fl

[2017-12-08 15:30] sti3 commented on #32
Works for me as long as that continual retrying doesn't introduce any
instability.

Aaron

On Thu, Dec 7, 2017 at 4:15 PM, Erik Price <notifications@github.com> wrote:

[2017-12-08 19:23] erik commented on #32
Yeah... that's the reason I've been waiting a couple days to merge.

Seems like continually retrying connections exposes some underlying bugs in pychromecast. I'll keep playing with it some more, and if I can't get it completely stable I'll swap the PR over to implementing an `ignore_missing` config flag, which is more in line with your original request.

[2017-12-15 17:15] #32 closed

[2017-12-15 17:21] erik commented on #32
Hi @sti3, sorry about the delay there!

Just released `lastcast==0.6.0`, which includes new config options `retry_missing` and `ignore_missing`.

I've been testing `retry_missing` on my home network and it seems stable, but I'm not convinced it's 100% there yet. `ignore_missing` should be fine though!

Please let me know if you run into any issues with either feature.

[2017-12-16 00:19] erik commented on #9
Quick update since it's almost been a year since this ticket was first opened (where does the time go?).

I haven't done anything yet to get a homebrew package merged mostly due to this line from the FAQ:

I don't think lastcast quite qualifies as "very popular"

[2017-12-18 01:08] erik commented on #31
Hi @thecivvie, I recently upgraded the pychromecast version that lastcast uses, which should include the fix.

When you get a chance, please try out the most recent release to see if the issue is resolved for you!

`pip install --upgrade lastcast`

[2017-12-27 04:32] erik commented on #20
Closing this out for now. Spotify still seems to misreport the timestamp, but the workaround solution has been stable enough in the mean time that it doesn't really matter.

[2017-12-27 04:32] #20 closed

[2018-01-03 17:00] christopherpfisterde opened #35 ""None - None [None]" is scrobbled after resuming a track from pause"
$ /usr/bin/lastcast --config /home/christopher/.lastcast.toml
Using chromecast: Christophers Google Home
Scrobbling: POLIÇA - Very Cruel [Shulamith]
**\# at this point playback is paused for more than 5 seconds and then resumed**
Scrobbling: None - None [None]
**\# a few seconds of running playback passed**
Scrobbling: POLIÇA - Very Cruel [Shulamith] **\# song is falsely scrobbled again**

[2018-01-03 17:28] erik commented on #35
Interesting, I'm not able to reproduce this right away. I tried on a Google Home and a Chromecast, letting a song scrobble, pausing for 5+ seconds, and then resuming. Haven't seen `None - None [None]` or the double scrobble behavior. Does it happen consistently, or randomly?

Also, could let me know which music player, version of Python, and OS you're using?

Thanks for reporting!

[2018-01-03 18:45] erik commented on #35
My assumption is that this commit is somehow to blame: https://github.com/erik/lastcast/commit/20c03205012937915d9120deab4faa61b8703a66

But it's odd, since that code shouldn't be triggered unless something is currently playing.

[2018-01-03 20:46] ghost commented on #35
It started happening after I updated to the latest version yesterday and now after I fully un- and reinstalled it does not happen anymore.
I don't know what could have caused this.
Anyway thanks for your help and your work! :)

Music player: Spotify
Python version: 3.6
OS: Arch Linux ARM

[2018-01-03 21:19] erik commented on #35
That's the same setup I was using to test... very weird.

Please let me know if you see the issue pop up again! I'll try again later as well but if neither of us are able to reproduce after a while I'll assume the issue was some strange transient install issue.

[2018-01-07 22:17] thecivvie commented on #31
Sorry, been chaos here for the last few weeks.

issue still continues. i have to restart lastcast every day now. Seems to stall on a client serve connection error. i will log onto Pi and get the errors:

Jan 07 14:42:00 pi3 lastcast[6711]: WARNING:pychromecast.socket_client:Heartbeat timeout, resetting connection
Jan 07 21:21:15 pi3 lastcast[6711]: WARNING:pychromecast.socket_client:Heartbeat time

[2018-01-07 22:20] thecivvie commented on #31
I put a @reboot into my crontab which appears to have got around the startup issue

[2018-01-07 23:13] erik commented on #31
No worries on the delay, thanks for the update 🙂

So this looks like different behavior from the original you had posted if I understand correctly. No unhandled error, but an unexplained pause where scrobbling doesn't work.

That heartbeat timeout message by itself is fine (and I'll see it in my logs as well), but if you were listening to music throughout the time period of the logs you posted, th

[2018-01-15 19:49] erik commented on #35
Hi @christopherpfisterde, any luck reproducing the issue? I haven't seen it happen locally yet.

[2018-01-15 19:55] ghost commented on #35
Just checked my listening history; no further "none" scrobbles happened. It was probably really something else that caused it. Thanks for your help. :)

[2018-01-15 19:55] #35 closed

[2018-01-15 20:06] erik commented on #35
Glad to hear it! 🙂

[2018-01-30 19:27] Katmassive opened #36 "File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 639, in resolve raise DistributionNotFound(req) pkg_resources.DistributionNotFound: netifaces!=0.10.5"
lastcast --wizard
Traceback (most recent call last):
  File "/usr/local/bin/lastcast", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 2876, in <module>
    working_set = WorkingSet._build_master()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 449, in _build_master
    ws.require(__requires__)

[2018-01-30 19:30] Katmassive commented on #36
Installed pip install netifaces==0.10.4

netifaces.c:1:20: fatal error: Python.h: No such file or directory

 #include <Python.h>

                    ^

compilation terminated.

error: command 'arm-linux-gnueabihf-gcc' failed with exit status 1

----------------------------------------
Cleaning up...
Command /usr/bin/python -c "import setuptools, tokenize;__file__='/tmp/*********p-build-mQI0Wk/ne

[2018-01-30 19:32] erik commented on #36
Hi @Katmassive, thanks for reporting the issue.

I believe `Python.h: No such file or directory` implies that you're missing the python dev package, which includes headers. If you're using debian (or raspbian, or ubuntu or ...), that would be `apt-get install python-dev`.

Could you try installing that and then rerunning `pip install --upgrade lastcast`?

[2018-01-31 16:53] Katmassive commented on #36
No luck.

~/raspberry-pi-gcc-binary $ lastcast --wizard
Traceback (most recent call last):
  File "/usr/local/bin/lastcast", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 2876, in <module>
    working_set = WorkingSet._build_master()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 449, in _build_

[2018-01-31 17:26] erik commented on #36
Well, we've moved to a different error, so at least that's progress 🙂

This seems to be an error with your environment. Somehow you have missing upstream dependencies, since lastcast doesn't explicitly use the `enum34` package.

Let's try uninstalling all the packages lastcast depends on and then reinstalling. Could you run this command for me and show me the output?

[code]

[2018-02-04 04:18] Katmassive commented on #36
i was able to run:

returns:

went back manually emptied tmp
re-ran commands. couldnt get the uninstall to run.

reboot the pi

maybe its python??

[2018-02-04 06:18] erik commented on #36
Hmm... I'm not sure what the issue is here, but it does seem unrelated to lastcast.

Maybe this StackOverflow answer is relevant? https://stackoverflow.com/a/27425458

[2018-02-05 15:42] Katmassive commented on #36
Awesome that worked.

Do I have to leave the terminal open?

[2018-02-05 16:33] erik commented on #36
Great, glad that worked for you!

So if you want to be able to close your terminal but keep the program running, you could either run `lastcast` in [screen](https://www.howtogeek.com/howto/ubuntu/keep-your-ssh-session-running-when-you-disconnect/) or [tmux](http://www.hamvocke.com/blog/a-quick-and-easy-guide-to-tmux/).

Or, a better solution, which would restart the process in case it crashed, wou

[2018-02-05 23:35] erik commented on #36
I'm going to close this issue now since the original problem seems to be resolved (if it's not feel free to reopen 🙂 ).

If you run into any other problems please let me know!

[2018-02-05 23:35] #36 closed

[2018-02-16 16:43] sti3 opened #37 "For compilations, Lastcast scrobbles with Album Artist rather than Track Artist"
It should scrobble the individual songs as Track Artist - Track Title.

![image](https://user-images.githubusercontent.com/35740/36318616-fac2e76c-1305-11e8-8ad8-e9a4374e7e67.png)

![image](https://user-images.githubusercontent.com/35740/36318669-2824ce6e-1306-11e8-97e2-48d484e372e1.png)

[2018-02-16 22:59] erik commented on #37
Hi @sti3, thanks for reporting the issue!

Looking briefly at the code, it should first try using the track artist, falling back to the album artist if that's not available. So my guess is that the tracks you're scrobbling are missing the track artist data?

https://github.com/erik/lastcast/blob/master/lastcast/__init__.py#L170

I'll dig into this deeper when I get a chance after the weekend.

[2018-02-21 05:05] erik commented on #37
Perhaps I'm misunderstanding the issue, but I'm unable to reproduce the behavior you described.

The following scrobbles as `Vincent Markowski - The Madness of Moths [DJ-Kicks: Apparat]` (using the track artist, not the album artist)

![screen shot 2018-02-20 at 21 00 43](https://user-images.githubusercontent.com/188935/36463848-449f79da-1681-11e8-93c8-a4bea58f59ac.png)

I'm not sure why it doesn'

[2018-02-21 20:09] erik opened #38 "Drop support for Python 2"
PyChromecast drops support for Python 2 as of version 2.0.0 (see: https://github.com/balloob/pychromecast/pull/211).

At this point, it makes sense to drop support for Python 2 in lastcast as well and make all future releases Python 3.4+ only.

[2018-03-02 01:23] #38 closed

[2018-03-06 22:13] erik commented on #37
Hi @sti3, any more info on this?

[2018-03-07 23:13] erik commented on #31
Any more information on this? I've released several versions of lastcast in the past few months, so knowing whether this issue is still valid would be helpful 😀

[2018-03-08 01:16] thecivvie commented on #31
Sorry been meaning to ask you to close this. All is good in the land of thecivvie and lastcast

Sent from my iPhone

[2018-03-08 01:19] erik commented on #31
Glad to hear it! Thanks for the update!

[2018-03-17 15:48] carmenchui opened #40 "python 3.5 error"
Hi Erik,

Great work with lastcast!  I installed the latest version of lastcast on a fresh install on my RaspberryPi and noticed the following:

It seems to be returning Python errors.  Not sure if it's my installation but I have Python 3.5.3 installed currently.  Is there a different version of Python 3.5 I should be on?

[2018-03-17 19:13] erik commented on #40
Hi @carmenchui, thanks for reporting!

So looking through the pylast code a bit, it seems like `errno 110 (Connection Timeout)` would point to an issue with the network you're trying to scrobble to, meaning either Last.fm or LibreFM were down / unreliable at the time.

I've personally noticed a lot of issues with API uptime trying to scrobble to LibreFM unfortunately.

It seems like it recovered a

[2018-03-18 02:24] carmenchui commented on #40
Hi @erik, thanks for the quick reply! Good to know nothing's wrong with my setup (lastcast 1.0.0 with Raspbian Stretch Lite); I'm only scrobbling to Last.fm, so it might have been a momentary glitch with Last.fm when it happened.

Since nothing's wrong, I'll go ahead and close this.

[2018-03-18 02:24] #40 closed

[2018-03-19 17:01] erik opened #41 "Only show critical stack traces"
Currently lastcast will dump stack traces even when an error is caught and handled. This was intended to make debugging easier, but can be confusing to new users (see #40).

By default, lastcast should not show stack traces if it has caught the error and can proceed without issue. They might still be useful, so we could have an opt in debug mode for this.

[2018-03-24 23:58] erik commented on #37
Going to close this out since I wasn't ever able to repro the issue, but please do reopen if this is still a problem!

[2018-03-24 23:58] #37 closed

[2018-03-30 14:49] #41 closed

[2018-04-18 13:14] NyanJaik opened #43 "Scrobble information repeating"
Yesterday while listening to music, Lastcast replaced one in every few songs with "Hundaes - All Love" and eventually every song scrobbled was scrobbled with that information instead of the actual info.

Restarting Lastcast seems to have temporarily fixed the issue.

[2018-04-18 14:04] erik commented on #43
Oh wow, that's incredibly strange, I've never seen that myself.

Could you share some more details about what the cast device you're using is, as well as which music player you're using? Did this happen once or is it a recurring thing?

Thanks for reporting!

[2018-04-19 00:07] jakeledoux commented on #43
Strange indeed!

Culprit is the Chromecast Gen 2 (not the ultra) playing a Spotify playlist. It's only happened once, and Lastcast had been running for about 6 days at that point.

Is there any sort of log that Lastcast creates that would be helpful to you? If it happens again I'll screencap the console and leave the scrobbles up on Last.fm for you to check out.

[2018-04-19 00:13] erik commented on #43
If you run lastcast with `--verbose`, it'll spit out some more info when something errors. Could you do that just in case it happens again?

By itself, lastcast will only print to stderr, but if you run it with the systemd setup, for example, you can use `journalctl` to view the logs. For me, I run `journalctl -uf lastcast` in a separate window to watch the logs as they're generated.

[2018-04-19 00:26] jakeledoux commented on #43
You're pretty speedy with these responses!

I'll give that a go. Forgot to mention earlier that Lastcast is running on Windows 10, if that makes any difference.

[2018-04-19 00:39] erik commented on #43
If I don't respond quickly I'll completely forget to altogether 😄

Ah, so I've never tested lastcast on Windows, it could be possible that there are some platform specific bugs, but I doubt it, since most of the heavy lifting is done by other libraries.

But yeah, let me know if you see it come up again, and in the mean time I'll try to reproduce the issue myself

[2018-04-27 00:49] jakeledoux commented on #43
Still no recurrence of the issue, which is kind of disappointing. I was hoping we could get to the bottom of this.

[2018-04-27 22:45] erik commented on #43
Hmm, maybe the chromecast itself got into a weird state?

Either way, thanks for updating! I'll keep the ticket open for now.

[2018-05-31 02:40] erik commented on #43
Hey @NyanJaik! Going to close out this ticket for now, but feel free to open it back up if you've noticed anything buggy.

[2018-05-31 02:40] #43 closed

[2018-05-31 02:41] jakeledoux commented on #43
No issues since! Last.fm was going through some weird changes then so it was probably on their end.
Cheers.

[2018-06-18 19:34] erik commented on #9
Closing this out for now since it's an older ticket at this point.

[2018-06-18 19:34] #9 closed

[2018-09-03 14:43] phunni opened #46 "Dedicated system required?"
Apologies for using the "issues" to simply ask a question! I want to use lastcast to scrobble what my new home mini plays and everything I read suggests running it on a raspberry pi.  As it happens, I do have a spare one of those sitting around, but I also have a media server that I use which is running Arch Linux and I wondered if there was any reason I shouldn't simply set up lastcast on that as

[2018-09-03 15:32] erik commented on #46
Nah you won't need a dedicated server for lastcast, it's not very resource intensive at all. The media server should work well for this. The only reason the raspberry pi was mentioned was that it was my original setup, and for someone without a home server, it's a better choice than running on a laptop or something.

Thanks for asking! I'll make the documentation more clear on this.

[2018-09-09 19:50] erik commented on #46
Closing this out for now, please let me know if you have more questions!

[2018-09-09 19:50] #46 closed

[2018-11-28 18:02] comicmuse opened #47 "Youtube Music Missing artist information"
Casting Youtube Music from my phone to Chromecast.
Lastcast scrobbles just the song name, with "None" as the artist name.

I've noticed that the Chromecast notification on my phone only has the artist information also. Suspect this could be related? Anyone else seen this?

[code]

[2018-11-28 19:46] erik commented on #47
Thanks for reporting!

Does this affect all music you've tried to scrobble, or only certain songs? If it's only certain tracks, could you share some links so I can try to reproduce this myself?

[2018-11-28 20:29] comicmuse commented on #47
I only just tried it this evening, and it affected those four in a row - it was just a playlist - Easy 00s, or something. I'll test it again later and see if I can find anything more out.

[2018-12-02 21:03] erik commented on #47
Hi @comicmuse, just tried locally and I wasn't able to reproduce the issue.

I was able to see artists and albums when going through the "Easy 00s" playlist.

Could you share some more details about your setup? Some stuff like:
- lastcast version
- ios / android
- cast device

[2018-12-02 21:51] comicmuse commented on #47
Sorry for not coming back earlier. I can't replicate either any more. It did happen to me for a whole evening.

It must have been a temporary youtube issue. I'll keep an eye on it and re-open if I see it again, but I don't think there's anything more to do here for now.

[2018-12-02 21:51] #47 closed

[2018-12-02 22:11] erik commented on #47
Ahh, got it. Thank you for the update!

[2019-01-13 19:38] 7merlin opened #48 "Is it possible to make it work on Android?"

[2019-01-13 20:18] erik commented on #48
Hi @7merlin!

Theoretically you could use something like [python-for-android](https://python-for-android.readthedocs.io/en/latest/) to package up lastcast for use with Android, but I've never gone down this route so I don't have any idea how feasible it is.

Realistically though, there should be other scrobblers you can use that are meant for your phone. lastcast is more or less intended to be run

[2019-01-15 05:17] erik commented on #48
Closing this issue out for now, please feel free to reopen this (or another) if you have more questions about lastcast!

[2019-01-15 05:17] #48 closed

[2019-01-18 05:53] 7merlin commented on #48
Hi Erik,

I have a bunch of always-on Android devices in my house (Android TV boxes). None always-on Mac/Windows/Linux machines. Having my Mac laptop running all the time for this is annoying. But hey, I'm not complaining. At least there is a way to scrobble whatever I listen on my Google Homes around the house. Thanks for your work!

Maybe I could make this work on my Synology NAS. It's supposed

[2019-03-19 19:35] Hobby-boy opened #49 "Spotify adverts get scrobbled - Lastcast 1.2.0"
So I'm currently scrobbling Spotify from my laptop to my chromecast audio via my phone, and I've noticed that when I get an advert on spotify, it also scrobbles the advert as "Spotify - Spotify []". I am using Lastcast 1.2.0 from Pip, and Spotify free.

Log from "journalctl -f _COMM=lastcast":
[code]

[2019-03-19 21:37] erik commented on #49
Thanks for reporting!

This seems like a pretty easy fix, I'll try to put out a new version before the end of the week.

However, since you're using spotify, you honestly might be better served by [last.fm's native spotify support](https://getsatisfaction.com/lastfm/topics/spotify-scrobbling), instead of using lastcast.

[2019-03-24 23:40] #49 closed

[2019-03-24 23:44] erik commented on #49
This should now be fixed in `lastcast 1.2.1`.

Thanks again for the bug report!

[2019-04-12 02:21] jack-fin opened #50 "Docker image?"
Hello!

I was curious if you would be interested in providing a docker image for lastcast? I really like this software and a Docker image would make it very easy to deploy on a NAS.

I have created a fork of this repository to setup a Docker file. It all works, except the application cannot find Google devices on the network. This may be due to needing certain ports open?

My fork with the Docker

[2019-04-12 15:32] erik commented on #50
Definitely interested in including the Dockerfile once we get it working, thanks for getting the ball rolling there!

Did some quick searching, and I found some similar issues on the home-assistant project, which is using the same Chromecast library as lastcast:

- home-assistant/home-assistant#13239: cast groups do not show up in docker without net=host

Could that be relevant to your issue?

[2019-04-12 16:27] danopia commented on #50
The Chromecast discovery technology can't pass through network bridges. Docker defaults to using a bridge network for your containers. You'll have to add `--net=host` for any software like lastcast that needs to discover other devices on your network. So try that out and see if it fixes your issue.

I believe that home-assistant works a bit differently, and accepts a list of Chromecast IP addresse

[2019-04-12 23:40] jack-fin commented on #50
Thanks danopia, that indeed was the problem. If I deploy this Docker image using the "host" option for net the application works as expected. I have updated my Readme to say to deploy with this option.

[2019-04-24 05:33] erik commented on #50
Thanks again @jack-fin!

This is now available at `rkprc/lastcast` (I couldn't get the `erik` username 😢)

[2019-04-24 05:33] #50 closed

[2019-09-17 03:49] BachelorLeague opened #52 "Couldn't Connect to "xxxx""
Thanks for this service. I followed your detailed guide on Reddit and it went well until I completed it. It said it could not connect to..., And then listen the devices i set it up for. During the wizard intially it found the devices no problem but now it won't connect to them. Any idea on what could be the issue? Thanks again for the service

[2019-09-17 05:44] erik commented on #52
Hmm, a couple questions to help me diagnose.

- If you rerun the wizard, does your device show up again?
- Is there any difference in casing or spelling between how it shows up in the wizard and what's in your configuration?
- Could you share the output of running with the `--verbose` flag?
- What Python version, lastcast version, and operating system are you using?

[2019-09-30 19:29] erik commented on #52
Hey @BachelorLeague, just wanted to make sure this doesn't get dropped - is this still an issue for you?

[2019-10-16 23:10] erik commented on #52
Going to close this out as inactive, please feel free to reopen if this is still an issue!

[2019-10-16 23:10] #52 closed

[2020-03-12 00:55] nsnyder commented on #52
Hey @erik, I've been running into this problem too, on my setup. The odd thing is, that it only seems to happen (or mostly seems to happen) running from the `systemctl` daemon.

See this output:
[code]

And here's my `/etc/systemd/system/lastcast.service`:
[code]

I'll admit, I've made a couple of tweaks from your instructions because it wasn't initially running at boot.

Finally, here's my `.last

[2020-03-12 01:34] nsnyder commented on #52
Ah, spoke too soon. I got it now!

Here's my `lastcast.service` file:
[code]

As it turns out, the key seems to be adding `User=pi` under the `[Service]` section! Thanks for a great tool, and I hope this helps someone in the future :) I'd be happy to submit a PR to the documentation if you would like it!

[2020-03-12 02:21] erik commented on #52
Nice! Glad it ended up being a simple fix.

I'll go ahead and update the README to reflect this. Thank you for following up with the solution!

[2020-04-02 18:13] jbmfg opened #53 "Wizard not completing"
As I run the wizard it just hangs after i put in my last.fm creds.  I had this working a while back and grabbed my old toml config and used it.  When i start last cast it just hangs.  Not sure what other info i can provide so let me know if there are logs i can send

[2020-04-02 19:09] erik commented on #53
If you could rerun the command with the `--verbose` CLI flag, that may help to uncover the issue.

My guess is that for some reason, detecting the Chromecast devices on your network isn't working, and it's getting stuck there. If you're using Docker, make sure you're passing the `--net=host` flag to `docker run`.

[2020-04-02 19:18] jbmfg commented on #53
Thanks erik.  The verbose flag doesnt help, still just hangs at the same places.  Not docker but am running on a lxd container.  I bet it's something to do with that causing it to not run.  I'm not sure where to look to figure it out

[2020-04-02 19:27] erik commented on #53
Hmm, yeah, sounds like that would end up being the culprit.

I've never interacted with LXD containers directly, so I can't really help too much with debugging, but I did find [this forum discussion](https://discuss.linuxcontainers.org/t/equivalent-of-docker-net-host-in-lxd-container/4426), which may be a good starting point?

Please keep me updated if you find a solution so that I can update the

[2020-04-05 22:54] jbmfg commented on #53
I am able to ping the google home from the LXD container.  I wonder if it would be possible to just specify the ip address of the google home in the lastcast config rather than detecting the devices?

[2020-04-09 05:45] erik commented on #53
That makes sense if there's an issue with multicast IPs inside the container.

Looks like pychromecast [would support](https://github.com/balloob/pychromecast/blob/master/pychromecast/__init__.py#L176) passing in an IP address/host directly. I'd be open to including this as a config option if you're able to help test out this change.

[2020-04-10 23:06] jbmfg commented on #53
Yup, happy to help!  Just let me know when you have a chance to include this

[2020-05-29 21:06] erik commented on #53
Included your PyChromecast version bump to fix this in version 2.0.0. Thanks again!

[2020-05-29 21:06] #53 closed

[2020-09-22 18:53] facundopignanelli opened #55 "Support for windows?"
I have an always-on windows machine that runs as a Plex server. Would love to use this, but I'm not sure how to do so on Windows.

If that's already possible and it's just a case that I'm not realizing it, I apologize.

[2020-09-22 19:38] erik commented on #55
Hey @facundopignanelli, lastcast should work on Windows as-is unless something changed recently in one of the libraries I'm using. I unfortunately don't have a Windows machine I can use to confirm this though.

As long as you have Python3, you should be able to install it with `pip` directly. Alternatively you could run it inside Docker using the README instructions

[2020-09-22 19:54] facundopignanelli commented on #55
Oh, thanks for the fast reply! I will get python for windows (and once I figure it out how to use it) I will let you know if it works. Thank you!

[2020-09-22 20:21] facundopignanelli commented on #55
Hi! I managed to install phyton and by using the command prompt on windows I could get lastcast installed by the command
 `pip3 install lastcast`
Then I'm trying to use the command
 `py lastcast --wizard`
 to start the wizard but I'm getting the following error:
 `C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.8_3.8.1729.0_x64__qbz5n2kfra8p0\python.exe: can't find '__main__' module

[2020-09-23 17:47] erik commented on #55
Try `py lastcast.__init__ --wizard` (or possibly `py -m lastcast.__init__ --wizard`, not sure how the Windows CLI works)

If that doesn't work I think the fix would be simply to create a simple `__main__.py` next to `__init__.py` which calls the existing `main()` function

[2020-09-24 19:14] #55 closed

[2020-09-24 19:21] erik commented on #55
Hey @facundopignanelli, I just pushed a new version of lastcast which should work the way you were calling it before. Give it a try and see if it solves your issue.

[code]

[2022-03-13 15:16] jbmfg opened #57 "Musicbrainz server support"
Would love to see custom musicbrainz-like servers as an option for scrobbling destination. I run maloja that supports the musicbrainz api

[2022-03-13 15:36] erik commented on #57
Hey @jbmfg, would be happy to include support, but I don't personally use any of these services, so it would be hard for me to build this confidently myself. Would you be able to work on this?

Looking at maloja, seems like they also support the Last.FM API (at least I think that's what `Audioscrobbler 1.2` means), so might be as simple as creating a subclass of [pylast's Last.fm client](https://g

[2022-05-22 12:45] jbmfg commented on #57
I gave it a shot but the maloja api authentication is too different and I gave up

[2022-05-23 13:57] erik commented on #57
Thanks for giving it a shot!

Anything in particular that ended up being a blocker? Perhaps the upstream pylast project would be open to including native support for maloja

[2022-05-25 18:26] jbmfg commented on #57
pylast is set up to authenticate with an api_key & secret which is then used to generate a session key that is used to submit scrobbles.  Maloja just requires an apikey be sent in the headers to authenticate. I couldnt figure out how to get pylast to just skip over all the session key stuff and still work.  Just beyond my skill level im afraid